body{
  font-family: "Comic Sans MS";
  background-color: #1E90FF;
}

.container{
  width: 100%;
  position: absolute;
  top: 20%;
  text-align: center;
}

.container h1{
  font-size: 216px;
  margin: 0;
  font-weight: 2160;
  letter-spacing: 25px;
  background: url(..Images/404bg.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

}

.container a{
  text-decoration: none;
  background: #191970;
  color: #fff;
  padding: 24px 24px;
  display: inline-block;
  border-radius: 15px;
  font-size: 24px;
}

.container a:hover{
  background: #6A5ACD;
}

h2 {
  font-size: 72px;
  color: #191970;
}

p {
  font-size: 36px;
  color: #191970;
}
